[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn
[dn]
C = IN
ST = India
L = India
O = Localhost Org
OU = Localhost Org Unit
emailAddress = kamlesh@plan2intl.com
CN = Localhost
[v3_req] 
subjectAltName = @alt_names
[alt_name]
DNS.1 = localhost
